[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
    # Preheat Nozzle without oozing
    M104 S{EXTRUDER_TEMP-30}
    # Heat bed for probing
    M190 S{BED_TEMP}
    # Use absolute coordinates
    G90
    M83
    # Home the printer
    G28

    # If you are using QGL:
    #QUAD_GANTRY_LEVEL
    #G28 Z

    # If you are using Z-Tilt:
    #Z_TILT_ADJUST

    M104 S{EXTRUDER_TEMP-10}

    # If you are generating a new bed mesh:
    BED_MESH_CALIBRATE #Adaptive KAMP Mesh only in print area
    ## NOTE:    The adaptive meshing feature requires exclude_object     ##
    ##      and may require 'Label Objects' to be enabled in the slicer  ##
    ##           To mesh without it just use BED_MESH_CALIBRATE          ##

    # If you are loading an existing mesh:
    #BED_MESH_PROFILE LOAD=default

    # Move the nozzle near the bed
    Smart_Park #Adaptive KAMP nozzle park near print start
    # Set and wait for nozzle to reach printing temperature
    M109 S{EXTRUDER_TEMP}
    Line_Purge #Adaptive KAMP Purging
    # Start printing!

# Enable exclude_object for adaptive meshing
[exclude_object]